* {
    padding: 0;
    margin: 0;
}

/*Contenido Menu Tienda*/

.contenidoT h2 {
    text-align: center;
}

.contenidoT {
    width: 100%;
    height: 1000px;
    background: rgb(0, 0, 0);
    font-family: monospace;
    color: #fff;
}